{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="page">
    {{!-- <header class="header">
        <button class="button"><img height="24px" src="/svg/arrow-back.svg" alt="arrow-back"></button>
        <button class="button"><img height="24px" src="/img/avatar.jpg
        " alt="arrow-back"></button>
    </header> --}}
    {{!-- <h1 class="title">Мій блог</h1> --}}


    {{!-- <ul class="nav">
        <li class="active">База знань</li>
        <li>Інформація</li>

    </ul> --}}

    {{!-- <main class="main">
        <div class="container">
            <article class="article">
                <img src="../../img/image 1.jpg" alt="">

                <h3>Що таке база знань?</h3>
                <p>База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в
                    некоторой предметной
                    области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом
                    решения предыдущих
                    задач.</p>
            </article>


        </div>

        <button class="button button-article">Перейти до ком'юніті у Телеграм</button>
        <div hidden>
            <h3>Інформація</h3>
            <p>Контент про базу знань</p>
        </div>
    </main> --}}

</div>