@use '../../style/layout.scss' as layout;
@use '../../style/var.scss' as c;


.nav {
	margin-bottom: -1px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	
}
	.nav li {
		font-size: 16px;
		font-weight: 500;
		padding-bottom: 12px;
		user-select:none;
		
		color:c.color("primary");
		border-bottom: 2px solid c.color("primary");
		cursor: pointer;
}
	.nav .active {
		color: c.color("light");
		border-bottom: 2px solid c.color("border");
			
	}
.main {
	display: flex;
	flex-direction: column;
	
} 
.container {
display: flex;
flex-direction: column;
gap: 10px;
}

.article {
display: flex;
flex-direction: column;
gap: 20px;
}

.article h3 {
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 12px;
}

.container p {
	font-size: 14px;
	line-height: 1.5;
	color:c.color("secondary")
}

.button-article {
	width: 100%;
	padding: 16px 0;
	background-color: c.color("accent-primary");
	border-radius: 10px;
	color:white;
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 14px;
	font-weight: 700;

}

