$colorMap: (
	light: #888888,
	border: #E6E6E6,
	
	primary:#121212,
	secondary:#363636,
	accent-primary:#F46F17,
	accent-secondary:#EF5DA8

);

@function color ($key) {
	@return map-get($colorMap, $key);
}